<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Restaurants</h1>
    <div id="restaurants"></div>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVkmNR4m_IAColEmySY4O1mDx3SXIceV4&libraries=places"></script>
    <script src="{% static 'js/vendors.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>